<header class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-9 col-sm-8">
          <ul>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">FEEL LIKE EATING</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Burger</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Pizza</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Fried Rice</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chicken Shots</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CHOOSE LOCATION</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">New york</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Washington</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chicago</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Los Angeles</a>
              </div>
            </li>
          </ul>          
        </div>
        <div class="col-3 col-sm-4">
          <div class="social">
            <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark" id ="navbar">
    <div class="nav-main animated" id="animateMain">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Food Logo"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>        
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown d-none">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="red-clr">FOOD ORDERING</span><br /> Home
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
                <ul class="dropdown-menu fade-down">
                  <li><a class="dropdown-item" href="#"> Home Page 1</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 2 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 3</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                </ul>
            </li>
            <li class="nav-item dropdown d-none">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="red-clr">REAL FOOD</span><br /> Contact US
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
                <ul class="dropdown-menu fade-down">
                  <li><a class="dropdown-item" href="#"> Home Page 1</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 2 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 3</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                </ul>
            </li>
            <li class="nav-item account-nav d-none">
              <a class="nav-link" routerLink="/" routerLinkActive = "active">Register partners</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link"  routerLink="/blog" routerLinkActive = "active">Blog</a>
            </li> -->
            <li class="nav-item lang-drop dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Select Language
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>              
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">English</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Indian</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chinese</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Russian</a>
              </div>
            </li>
            <li class="nav-item account-nav">
              <a class="nav-link" data-toggle="modal" data-target="#myLoginModal">Login</a>
            </li>
            <li class="nav-item account-nav">
              <a class="nav-link"  data-toggle="modal" data-target="#myRegisterModal">Register</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Hover up  </a>
                <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>
                </ul>
            </li> -->
          </ul>
        </div> <!-- navbar-collapse.// -->
      </div>
    </div>
  </nav>
</header>

  <!-- The Modal Login Page Start-->
  <div class="modal fade" id="myLoginModal">
    <div class="newsletter-popup-wrapper form-wrapper modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <div class="newsletter-popup-inner form-popup">
                <a class="close-btn brd-rd50" data-dismiss="modal" href="#" title="Close Button"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4>SIGN IN</h4>
                    <span>with your social network</span>
                </div>
                <div class="popup-social text-center">
                    <a class="facebook brd-rd3" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                    <a class="google brd-rd3" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                    <a class="twitter brd-rd3" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                <form class="sign-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="text" placeholder="Username or Email">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <input class="brd-rd3" type="password" placeholder="Password">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 forgot-part">
                            <a class="sign-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                            <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal Login Page End  -->


    <!-- The Modal Register Page Start-->
    <div class="modal fade" id="myRegisterModal">
      <div class="newsletter-popup-wrapper form-wrapper modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
              <div class="newsletter-popup-inner form-popup">
                  <a class="close-btn brd-rd50" data-dismiss="modal" href="#" title="Close Button"><i class="fa fa-close"></i></a>
                  <div class="sign-popup-title text-center">
                      <h4>SIGN UP</h4>
                      <span>with your social network</span>
                  </div>
                  <div class="popup-social text-center">
                      <a class="facebook brd-rd3" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                      <a class="google brd-rd3" href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i> Google</a>
                      <a class="twitter brd-rd3" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                  </div>
                  <span class="popup-seprator text-center"><i class="brd-rd50">or</i></span>
                  <form class="sign-form">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                          <input class="brd-rd3" type="text" placeholder="Username">
                        </div>
                          <div class="col-md-12 col-sm-12 col-lg-12">
                              <input class="brd-rd3" type="text" placeholder="Email">
                          </div>
                          <div class="col-md-12 col-sm-12 col-lg-12">
                              <input class="brd-rd3" type="password" placeholder="Password">
                          </div>
                          <div class="col-md-12 col-sm-12 col-lg-12">
                              <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                          </div>
                          <div class="col-md-12 col-sm-12 col-lg-12 forgot-part">
                              <a class="sign-btn" href="#" title="">Already Registered? Sign in</a>
                              <a class="recover-btn" href="#" title="">Recover my password</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal Register Page End  -->