<header class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-9 col-sm-8">
          <ul>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">FEEL LIKE EATING</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Burger</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Pizza</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Fried Rice</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chicken Shots</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CHOOSE LOCATION</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">New york</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Washington</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chicago</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Los Angeles</a>
              </div>
            </li>
          </ul>          
        </div>
        <div class="col-3 col-sm-4">
          <div class="social">
            <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark" id ="navbar">
    <div class="nav-main animated" id="animateMain">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Food Logo"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>        
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown d-none">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="red-clr">FOOD ORDERING</span><br /> Home
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
                <ul class="dropdown-menu fade-down">
                  <li><a class="dropdown-item" href="#"> Home Page 1</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 2 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 3</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                </ul>
            </li>
            <li class="nav-item dropdown d-none">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="red-clr">REAL FOOD</span><br /> Contact US
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
                <ul class="dropdown-menu fade-down">
                  <li><a class="dropdown-item" href="#"> Home Page 1</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 2 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 3</a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                  <li><a class="dropdown-item" href="#"> Home Page 4 </a></li>
                </ul>
            </li>
            <li class="nav-item account-nav d-none">
              <a class="nav-link" routerLink="/" routerLinkActive = "active">Register partners</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link"  routerLink="/blog" routerLinkActive = "active">Blog</a>
            </li> -->
            <li class="nav-item lang-drop dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Select Language</a>
              <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">English</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Indian</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Chinese</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">Russian</a>
              </div>
            </li>
            <li class="nav-item account-nav">
              <a class="nav-link" routerLink="/" routerLinkActive = "active">Login</a>
            </li>
            <li class="nav-item account-nav">
              <a class="nav-link" routerLink="/" routerLinkActive = "active">Register</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Hover up  </a>
                <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>
                </ul>
            </li> -->
          </ul>
        </div> <!-- navbar-collapse.// -->
      </div>
    </div>
  </nav>
</header>
