footer .footer-content{
    padding: 80px 0;
    background-size: cover;
    color: #a2a2a3;
    background-color: #1b1b1b;;
}
footer .widget-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 20px;
    line-height: 1.1;
}
.social-footer a {
    display: inline-block;
    margin: 10px 4px 0;
    line-height: 27px;
    width: 27px;
    color: #999;
    background-color: rgba(255,255,255,0.05);
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
}
.social-footer a:hover {
    color: #fff;
    background-color: #ea1b25;
}
.widget {
    margin-bottom: 50px;
    width: 100%;
}
.widget ul li {
    font-size: 13px;
    color: #999;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 12px;
}
.widget ul li a {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    color: #999;
    font-size: 13px;
    line-height: 1.4;
}
.widget ul li a:before {
    content: "\f101";
    font-family: fontawesome;
    position: absolute;
    left: 0;
}
.widget ul li a:hover {
    padding-left: 25px;
    color: #ea1b25;
    text-decoration: none;
}
.get_in_touch ul li {
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
}
.get_in_touch ul li a {
    padding-left: 0;
}
.get_in_touch ul li i {
    position: absolute;
    left: 0;
    font-size: 18px;
    top: 2px;
    color: #ea1b25;
}
.get_in_touch ul li a:before {
    display: none;
}
.bottom-bar {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1b1b1b;
}
.bottom-bar p {
    color: #999;
    margin-bottom: 0;
    padding: 22px;
    font-weight: 700;
    font-size: 12px;
}
.bottom-bar p a{
    color: #ea1b25;
}
.bottom-bar p a:hover{
    color: #ffbe00;
}
@media screen and (max-width: 1024px){
footer .footer-content {
    padding: 60px 0;
}
}
@media screen and (max-width: 991px){
.social-footer {
    margin-bottom: 30px;
}
}
@media screen and (max-width: 767px){
.customer_care, .get_in_touch {
    margin-top: 30px;
}
footer .footer-content {
    padding: 30px 0;
}
.widget {
    margin-top: 10px;
    margin-bottom: 30px;

}
.get_in_touch ul li {
    margin-top: 10px;
}
.widget ul li {
    font-size: 13px;
    color: #999;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 8px;
}
footer .widget-title {
    margin: 0 0 10px;
}
.social-footer {
    margin-bottom: 0px;
}
}
@media screen and (max-width: 575px){
.header .container {
    padding-left: 15px;
    padding-right: 15px;
}
.customer_care, .get_in_touch {
    margin-top: 30px;
}
.customer_care, .get_in_touch {
    margin-top: 30px;
}
}



