<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="widget information_links wow fadeIn" data-wow-delay="0.1s">
                    <h4 class="widget-title">About Us</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="social-footer">
                        <a href="#" title="Facebook"  target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Google Plus"  target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="Twitter"  target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Pinterest"  target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                        <h4 class="widget-title">INFORMATION</h4>
                        <ul>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Shop with Points</a></li>
                            <li><a href="#">More Branches</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="widget customer_care wow fadeIn"  data-wow-delay="0.3s">
                        <h4 class="widget-title">CUSTOMER CARE</h4>
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Money Back</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                    <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                        <h4 class="widget-title">GET IN TOUCH</h4>
                        <ul>
                           <li><i class="fa fa-map-marker"></i> 123 New Design Str, ABC Building, melbourne, Australia.</li>
                           <li><i class="fa fa-phone"></i> (0044) 8647 1234 587</li>
                           <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">hello@yourdomain.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="bottom-bar dark-bg text-center">
        <div class="container">
            <p>© 2018 <a target="_blank">Demo</a>. All Rights Reserved</p>
        </div>
    </div>
</footer>