.block {
    padding: 120px 0;
    position: relative;
    width: 100%;
}
.block.top-padd30 {
    padding: 30px;
}
.fixed-bg {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}
.restaurant-searching.style2 {
    margin-top: 0;
    padding: 70px 100px 85px;
}
.restaurant-searching.style2 .restaurant-searching-inner {
    max-width: 770px;
    display: inline-block;
    width: 100%;
}
.restaurant-searching-inner > h2 {
    font-family: Poppins;
    color: #fff;
    display: inline-block;
    line-height: 55px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 48px;
    max-width: 100%;
    text-shadow: none;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: capitalize;
}
.restaurant-searching-inner > h2 span {
    font-family: Great Vibes;
    font-size: 60px;
    font-weight: normal;
}
.restaurant-search-form {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.restaurant-search-form > input {
    font-size: 10.8px;
    color: #868686;
    padding: 10px 30px;
    height: 57px;
    width: 88%;
    border: medium none;
}
.restaurant-search-form > button:hover,
.restaurant-search-form > button:active,
.restaurant-search-form > button:focus,
.restaurant-search-form > input:hover,
.restaurant-search-form > input:active,
.restaurant-search-form > input:focus {
    outline: 0 none;
    border: medium none;
}
.restaurant-search-form > button {
    color: #fff;
    font-weight: 700;
    font-size: 13.5px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    max-width: 172px;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background-color: #ea1b25;
    border: medium none;
}
.brd-rd2 {
    border-radius: 2px;
}
.brd-rd30 {
    border-radius: 30px;
}
.blackish:before, .whitish:before, 
.grayish:before, .blackish2:before, 
.red-bg-layer:before, .yellow-bg-layer:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.blackish:before {
    background-color: #000000;
}
.low-opacity:before {
    opacity: .7;
}
.no-padding, .block.no-padding {
    padding: 0;
}
.overlape-110, .overlape-45, .overlape-95 {
    margin-top: -110px;
    position: relative;
}
.red-bg {
    background-color: #ea1b25;
}
.app-info {
    width: 100%;
    margin-left: -25px;
    margin-top: 60px;
}
.orange-bg .app-info > h4, .orange-bg .app-info > p, .red-bg .app-info > h4, .red-bg .app-info > p {
    color: #fff;
}
.orange-bg .app-info > h4, .orange-bg .app-info > p, .red-bg .app-info > h4, .red-bg .app-info > p {
    color: #fff;
}
.app-download-btns {
    width: 100%;
}
.app-download-btns > a {
    margin-top: 16px;
    margin-right: 16px;
}
/* Recipe category section Start */
.sec-box {
    margin: 0 auto;
    width: 100%;
    padding: 50px 45px 140px;
    background-color: #fff;
}
.filter-buttons {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin-bottom: 50px;
    width: 100%;
    vertical-align: text-bottom;
}
.filter-buttons > li {
    display: inline-block;
    font-size: 16px;
    color: #1c1c1c;
    margin-left: 10px;
}
.filter-buttons > li a {
    padding: 7.5px 20px;
    border: 1px solid transparent;
    display: inline-block;
    font-family: "Poppins";
    color: #000;
    font-weight: 400;
}
.filter-buttons > li a:hover {
    text-decoration: none;
}
.filter-buttons > li.active a, .error-page-inner > a, .user-info.red-bg > img {
    border-color: #ffbe00;
}
.featured-restaurant-box {
    display: flex;
    align-items: center;
}
.featured-restaurant-box {
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid #f5f5f5;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.featured-restaurant-thumb {
    width: 125px;
}
.featured-restaurant-info {
    padding-left: 25px;
}
.featured-restaurant-info > h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 20px;
    width: 100%;
}
.featured-restaurant-info > h4 a{
    color: #333;
}
.filters-inner .filter-item:first-child .featured-restaurant-box, 
.filters-inner .filter-item:nth-child(2) .featured-restaurant-box {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}
/* Recipe category section End */
@media all and (max-width:1024px) {
.block {
    padding: 60px 0;
}
.restaurant-searching.style2 {
    margin-top: 0;
    padding: 0px 100px 60px;
}
.block.blackish{
    padding: 60px 0 140px;
}
}
@media all and (max-width: 991px) {
.sec-box {
    padding: 30px 30px 140px;
}
.filters-inner .filter-item:nth-child(2) .featured-restaurant-box {
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid #f5f5f5;
}
.filters-inner .filter-item:first-child .featured-restaurant-box .post-rate {
    top: 0;
}
}
@media all and (max-width:768px) {
.restaurant-searching-inner > h2 {
    font-size: 40px;
    max-width: 550px;
}
.restaurant-searching {
    padding: 0 60px 40px;
}
.restaurant-searching-inner{
    max-width: 540px;
}
}
@media all and (max-width:767px) {
.app-sec .col-lg-4 img {
    max-width: 200px;
}
.app-info {
    margin-left: 0px;
    margin-top: 20px;
}
.app-download-btns a + a {
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.app-sec .app-mockup {
    text-align: left !important;
}
.app-download-btns > a {
    margin-top: 16px;
    margin-right: 16px;
    display: inline-block;
}
.app-download-btns a + a {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
}
.app-info {
    margin-bottom: 10px;
}
.block {
    padding: 30px 0;
}
.block.blackish{
    padding: 30px 0 100px;
}
.setp-box-inner {
    margin-bottom: 50px;
}
.title1-inner > h2, 
.title1-inner > h3 {
    font-size: 36px;
}
}
@media all and (max-width:575px) {
.restaurant-searching-inner > h2 span {
    font-size: 30px;
}
.restaurant-searching-inner > h2 {
    font-size: 25px;
}
.restaurant-searching {
    padding: 0 15px 40px;
}
.restaurant-searching.style2 {
    padding: 0 15px 40px;
}
.filter-buttons > li {
    margin-left: 2px;
}
.app-sec .app-mockup {
    display: none;
}
.block.blackish {
    padding: 30px 0 0px;
}
.app-info {
    margin-bottom: 20px;
    margin-top: 30px;
}
.title1-inner > h2, 
.title1-inner > h3 {
    font-size: 30px;
}
.restaurant-search-form > button {
    padding: 10px 10px;
    max-width: 130px;
}
.sec-box {
    padding: 0px 0px 30px;
}
.featured-restaurant-info .post-rate {
    right: 0px;
}
}
@media all and (max-width:480px) {
.featured-restaurant-info > .red-clr {
    width: 100%;
    display: inline-block;
    padding-right: 62px;
}
.featured-restaurant-thumb {
    width: 100px;
}
}