<section>
    <div class="block">
        <div style="background-image: url(assets/images/parallax2.jpg);" class="fixed-bg"></div>
        <div class="restaurant-searching style2 text-center">
            <div class="restaurant-searching-inner">
                <h2 itemprop="headline"><span>Delicious</span><span class="red-clr"> Food</span><br /> Order deliver & take-out</h2>
                <form class="restaurant-search-form brd-rd2">
                    <input class="brd-rd30" type="text" placeholder="RESTAURANT NAME">
                    <button class="brd-rd30 red-bg" type="submit">SEARCH</button>
                </form>
            </div>
        </div><!-- Restaurant Searching -->
    </div>
    </section>
    <section>
        <div class="block less-spacing gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 filter-sec col-lg-12">
                        <div class="sec-box">
                            <div class="filters-wrapper">
                                <ul class="filter-buttons text-center">
                                    <li class="active"><a class="brd-rd30" data-filter="*" href="#" >All</a></li>
                                    <li class=""><a class="brd-rd30" href="#" >Beverages</a></li>
                                    <li class=""><a class="brd-rd30" href="#" >Burgers</a></li>
                                    <li class=""><a class="brd-rd30" href="#" >Pasta</a></li>
                                    <li class=""><a class="brd-rd30" href="#" >Chicken</a></li>
                                    <li class=""><a class="brd-rd30" href="#" >South Indian</a></li>
                                </ul><!-- Filter Buttons -->
                            <div class="filters-inner style2">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item1">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.2s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img1.jpg" alt="featured-restaurant-img1.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Pork Tenderloin Marinated</a></h4>
                                                <span class="price">$85.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item2">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.3s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img2.jpg" alt="featured-restaurant-img2.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Baked Potato Pizza</a></h4>
                                                <span class="price">$70.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item3">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.3s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img3.jpg" alt="featured-restaurant-img3.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Grilled Pork with Preserved</a></h4>
                                                <span class="price">$90.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item2 filter-item3">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.4s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img4.jpg" alt="featured-restaurant-img4.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Chicken with White Sauce</a></h4>
                                                <span class="price">$85.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item1 filter-item3">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.5s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img5.jpg" alt="featured-restaurant-img5.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Lemon-Rosemary Chicken</a></h4>
                                                <span class="price">$70.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.03</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 filter-item filter-item1 filter-item2">
                                        <div class="featured-restaurant-box wow fadeIn" data-wow-delay="0.6s">
                                            <div class="featured-restaurant-thumb">
                                                <a href="food-detail.html" title="" ><img class="brd-rd50" src="assets/images/featured-restaurant-img6.jpg" alt="featured-restaurant-img6.jpg"></a>
                                            </div>
                                            <div class="featured-restaurant-info">
                                                <span class="red-clr">5th Avenue New York 68</span>
                                                <h4 itemprop="headline"><a href="food-detail.html" title="" >Black Pepper-Honey BBQ</a></h4>
                                                <span class="price">$90.00</span>
                                                <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="block no-padding red-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="app-sec">
                            <div class="row">
                                <div class="col-md-5 col-sm-6 d-md-flex d-sm-none col-lg-4">
                                    <div class="app-mockup text-right overlape-110 wow fadeInUp" data-wow-delay="0.2s"><img src="assets/images/app-mockup.png" alt="app-mockup.png"></div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-lg-6">
                                    <div class="app-info">
                                        <h4 itemprop="headline">The Best Food Delivery App</h4>
                                        <p itemprop="description">We have a launch team that focuses on one city at a time. At the end of the day, we're a marketplace. In order to make an effective marketplace, you need critical mass. We need enough restaurants that  quality and variety</p>
                                        <div class="app-download-btns">
                                            <a class="" href="#" title="Google Play Store"  target="_blank"><img src="assets/images/app-download-btn1.png" alt="app-download-btn1.png"></a>
                                            <a class="" href="#" title="Apple App Store"  target="_blank"><img src="assets/images/app-download-btn2.png" alt="app-download-btn2.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- App Section -->
                    </div>
                </div>
            </div>
        </div>
    </section>