<section>
    <div class="block">
        <div class="fixed-bg" style="background-image: url(assets/images/topbg.jpg);"></div>
        <div class="page-title-wrapper text-center">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="page-title-inner">
                    <h1 itemprop="headline">Cart & Checkout</h1>
                        <span>Payment Process</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block top-padd30 gray-bg">        
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                        <div class="reservation-tabs-wrapper">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-3">
                                    <div class="reservation-tabs-list brd-rd5">
                                        <ul class="nav nav-tabs brd-rd5">
                                            <li>
                                                <a href="#reservation-tab1" class="active" data-toggle="tab" aria-expanded="true">
                                                <span class="brd-rd50">1</span> Information</a>
                                            </li>
                                            <li class="">
                                                <a href="#reservation-tab2" data-toggle="tab" aria-expanded="false">
                                                    <span class="brd-rd50">2</span> Select Package
                                                </a>
                                            </li>
                                            <li class=""><a href="#reservation-tab3" data-toggle="tab" aria-expanded="false"><span class="brd-rd50">3</span> Payment Information</a></li>
                                            <li class=""><a href="#reservation-tab4" data-toggle="tab" aria-expanded="false"><span class="brd-rd50">4</span> Activation</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="reservation-tab-content">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="reservation-tab1">
                                                <div class="order-wrapper2 brd-rd5">
                                                    <h4 itemprop="headlie">YOUR ORDER</h4>
                                                    <ul class="ordr-lst brd-rd5">
                                                        <li class="lst-hed">PRODUCT <span>TOTAL</span></li>
                                                        <li>Product X 1 <span>$90.00</span></li>
                                                        <li>Subtotal <span>$90.00</span></li>
                                                        <li>Gov Tax <span>$2.70</span></li>
                                                        <li class="red-bg">Total <span>$92.70</span></li>
                                                    </ul>
                                                    <div class="ordr-btn">
                                                        <a class="red-bg brd-rd5" href="#" title="" itemprop="url">Continue</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="reservation-tab2">
                                                <div class="select-package-wrapper">
                                                    <form class="restaurant-info-form brd-rd5">
                                                        <div class="row mrg20">
                                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <label>First Name <sup class="required">*</sup></label>
                                                                <input class="brd-rd3" type="text">
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <label>Last Name <sup class="required">*</sup></label>
                                                                <input class="brd-rd3" type="text">
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <label>Email <sup class="required">*</sup></label>
                                                                <input class="brd-rd3" type="email">
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-lg-6">
                                                                <label>Phone <sup class="required">*</sup></label>
                                                                <input class="brd-rd3" type="text">
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <label>Address <sup class="required">*</sup></label>
                                                                <textarea class="brd-rd3"></textarea>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <div class="step-buttons">
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">Back Step</a>
                                                                    <a class="brd-rd3 red-bg" href="#" title="" itemprop="url">Next Step</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="reservation-tab3">
                                                <div class="order-wrapper2 brd-rd5">
                                                    <h4>YOUR ORDER</h4>
                                                    <div class="pay-mnt">
                                                        <span class="radio-box">
                                                            <input type="radio" name="pay-mthd" id="mthd1">
                                                            <label for="mthd1">Direct Bank Transfer</label>
                                                        </span>
                                                        <span class="radio-box">
                                                            <input type="radio" name="pay-mthd" id="mthd2">
                                                            <label for="mthd2">Check payments</label>
                                                        </span>
                                                        <span class="radio-box">
                                                            <input type="radio" name="pay-mthd" id="mthd3">
                                                            <label for="mthd3">Cash on delivery</label>
                                                        </span>
                                                        <span class="radio-box">
                                                            <input type="radio" name="pay-mthd" id="mthd4">
                                                            <label for="mthd4">Paypal <img src="assets/images/pay-mthd-img.jpg" alt="pay-mthd-img.jpg" itemprop="image"></label>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <div class="step-buttons">
                                                            <a class="brd-rd3" href="#" title="">Back Step</a>
                                                            <a class="brd-rd3 red-bg" href="#" title="">Next Step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="reservation-tab4">
                                                <div class="order-wrapper2 thankyou-wrap brd-rd5">
                                                    <h4 class="mb-0">Thank you for completing your order.</h4>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div><!-- Section Box -->
                    </div>
                </div>
            </div>
        
    </div>
</section>