<div class="col-12 text-center">
    <button type="button" class="btn newsletter-btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open Newsletter
    </button>
</div>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="newsletter-popup-wrapper modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="newsletter-popup-inner">
                <a class="close-btn brd-rd50" data-dismiss="modal" href="#" title="Close Button"><i class="fa fa-close"></i></a>
                <h3 itemprop="headline"><i class="fa fa-envelope-open red-clr"></i> SIGN UP FOR RECENT UPDATES</h3>
                <p itemprop="description">Join our Subscribers list to get the latest news, updates and special offers delivered directly in your inbox.</p>
                <form class="newsletter-frm brd-rd30">
                    <input class="brd-rd30" type="email" placeholder="ENTER YOUR EMAIL">
                    <button class="brd-rd30 red-bg" type="submit">SUBSCRIBE</button>
                </form>
                <span class="red-clr"><i class="fa fa-check"></i> Thanks, your address has been added.</span>
            </div>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>