/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato|Poppins:300,400,400i,500,600,700,800');
@import './assets/css/animate.min.css';
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #748796;
    line-height: 1.8;
}
a,a:hover{
    cursor: pointer;
    transition: all .3s linear;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
body .form-group{
    position: relative;
    margin-bottom: 1.5rem;
}
body .form-group label {
    margin-bottom: 0;
    color: #414551;
    font-weight: 500;
}
.error,.required {
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
}
.form-group .error {
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
}
.form-group i {
    position: absolute;
    left: 6px;
    bottom: 11px;
}
.form-group .form-control {
    padding-left: 22px;
    font-size: 14px;
    font-weight: 500;
}
.form-group .form-control:hover,
.form-group .form-control:active,
.form-group .form-control:focus{
    outline: 0 none;
    box-shadow: unset;
    border: 1px solid #ced4da;
}
.form-group .form-control.is-invalid,
.form-group .form-control.is-invalid:hover,
.form-group .form-control.is-invalid:active,
.form-group .form-control.is-invalid:focus{
    border-color: #dc3545
}
.red-clr{
    color: #ea1b25;
}
.brd-rd50{
    border-radius: 50%;
}
.red-bg{
    background-color: #ea1b25;
}
.brd-rd30 {
    border-radius: 30px;
}
.featured-restaurant-info .post-rate {
    position: absolute;
    right: 30px;
    top: 25px;
}
.yellow-bg {
    background-color: #ffbe00;
}
.post-rate {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 11px;
    color: #fff;
    font-family: Poppins;
    font-weight: 700;
    padding: 6px 10px;
    z-index: 1;
}
.post-rate > i {
    font-size: 12px;
}
.brd-rd2, .featured-restaurant-carousel .owl-nav > div, 
.sudo-bottom:before, .select-wrp2 .chosen-container > a {
    border-radius: 2px;
}
.brd-rd5 {
    border-radius: 5px;
}
.blackish:before {
    background-color: #000000;
}
.opac50:before {
    opacity: .5;
}
.gray-bg {
    background-color: #f6f6f6;
}
.gradient-brd:after {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    content: "";
}
.gradient-brd:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.gradient-brd:before {
    background: linear-gradient(90deg, #e03335 0%, #00cfc8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03335', endColorstr='#00cfc8',GradientType=1 );
}
.fixed-bg, .fit-bg {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-position: center center;
    background-repeat: repeat;
}
.fixed-bg {
    background-attachment: fixed !important;
}
.brd-rd3 {
    border-radius: 3px;
}
a, input, button, textarea, :before, :after, .owl-nav > div, .owl-dots > div, .restaurants-wrapper > li, 
.popular-dish-thumb > a img, .news-btns, nav ul ul, .chosen-results > li, .featured-restaurant-box, .toggle-item, 
.toggle-item > h4, .toggle-item > h4 i, .rating-box > span, .switch-slider, .rate-share, .newsletter-popup-wrapper, 
.gallery-info-btns, .gallery-bx > h3, .ingradient-list, .log-popup, .sign-popup, label, .topbar, .logo, 
.logo > h1 img, nav > div > ul > li, nav > div > ul > li span, .responsive-logomenu > span, 
.responsive-menu > span, .responsive-menu, .your-order-popup, .payment-popup-wrapper{
    transition: all .3s linear;
}
.gradient-brd:before {
    background: linear-gradient(90deg, #e03335 0%, #00cfc8 100%);
}
.gradient-brd:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.gradient-brd:after {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    content: "";
}
.price {
    font-size: 22px;
    font-family: Poppins;
    color: #1e1e1e;
    font-weight: bold;
}
.radio-box [type="radio"]:checked, 
.radio-box [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-box [type="radio"]:checked + label, .radio-box [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}
.radio-box [type="radio"]:checked + label:before, .radio-box [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 50%;
}
.radio-box [type="radio"]:not(:checked) + label:before{
    border-radius: 50%;
}
.radio-box [type="radio"]:checked + label:after, .radio-box [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    top: 6px;
    left: 3px;
    border-radius: 50%;
}
.radio-box [type="radio"]:not(:checked) + label:after{
    background-color: #ea1b25;
}
.radio-box [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.check-box [type="checkbox"]:checked, .check-box [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.check-box [type="checkbox"]:checked + label, .check-box [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}
.check-box [type="checkbox"]:checked + label:before, 
.check-box [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #d0d0d0;
    background: #fff;
}
.check-box [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.check-box [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.check-box [type="checkbox"]:checked + label:after, 
.check-box [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    position: absolute;
    top: 6px;
    left: 3px;
}
.brd-rd50, .restaurants-wrapper.style2 > li::before, .radio-box [type="radio"]:checked + label:before, 
.radio-box [type="radio"]:not(:checked) + label:before, .radio-box [type="radio"]:checked + label:after, 
.radio-box [type="radio"]:not(:checked) + label:after, .check-box [type="checkbox"]:checked + label:before, 
.check-box [type="checkbox"]:not(:checked) + label:before, .check-box [type="checkbox"]:checked + label:after, 
.check-box [type="checkbox"]:not(:checked) + label:after, .review-form:before, .switch-slider.brd-rd30:before, 
.booking-table > table tbody td h5:before, .profile-info > a.change-password::before{
    border-radius: 50%;
}
.check-box [type="checkbox"]:not(:checked) + label:after{
    background-color: #ea1b25;
}
.brd-rd2, .featured-restaurant-carousel .owl-nav > div, 
.sudo-bottom:before, .select-wrp2 .chosen-container > a {
    border-radius: 2px;
}
/* Responsive Design CSS Start */
@media all and (max-width: 767px){

}
@media all and (max-width: 375px){
.modal-header .modal-title {
    font-size: 22px;
}
.modal-header label .register {
    margin-right: 0px;
    font-size: 13px;
}
.modal-content .modal-header {
    padding: 1rem .5rem;
}
}
