<section>
<div class="block">
    <div style="background-image: url(assets/images/topbg.jpg);" class="fixed-bg"></div>
    <div class="restaurant-searching text-center">
        <div class="restaurant-searching-inner">
            <h2 itemprop="headline">Order <span>Food Online From</span> the Best Restaurants</h2>
            <form class="restaurant-search-form brd-rd2">
                <input class="brd-rd30" type="text" placeholder="RESTAURANT NAME">
                <button class="brd-rd30 red-bg" type="submit">SEARCH</button>
            </form>
            <div class="funfacts">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="fact-box">
                            <i class="brd-rd50"><img src="assets/images/fact-icon1.png" alt="fact-icon1" itemprop="image"></i>
                            <div class="fact-inner">
                                <strong><span class="counter">137</span></strong>
                                <h5>Restaurant</h5>
                            </div>
                        </div><!-- Fact Box -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="fact-box">
                            <i class="brd-rd50"><img src="assets/images/fact-icon2.png" alt="fact-icon2" itemprop="image"></i>
                            <div class="fact-inner">
                                <strong><span class="counter">158</span></strong>
                                <h5>People Served</h5>
                            </div>
                        </div><!-- Fact Box -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="fact-box">
                            <i class="brd-rd50"><img src="assets/images/fact-icon3.png" alt="fact-icon3" itemprop="image"></i>
                            <div class="fact-inner">
                                <strong><span class="counter">659</span>K</strong>
                                <h5>Happy Service</h5>
                            </div>
                        </div><!-- Fact Box -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="fact-box">
                            <i class="brd-rd50"><img src="assets/images/fact-icon4.png" alt="fact-icon4" itemprop="image"></i>
                            <div class="fact-inner">
                                <strong><span class="counter">235</span></strong>
                                <h5>Regular users</h5>
                            </div>
                        </div><!-- Fact Box -->
                    </div>
            </div><!-- Fun Facts -->
        </div>
        <img class="left-scooty-mockup easein" src="assets/images/restaurant-mockup1.png" alt="restaurant-mockup1.png" itemprop="image">
        <img class="bottom-clouds-mockup" src="assets/images/clouds.png" alt="clouds.png" itemprop="image">
    </div><!-- Restaurant Searching -->
</div>
</section>
<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Restaurant and Cafe</span>
                            <h2 itemprop="headline">Top Restaurants</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block blackish low-opacity">
        <div class="fixed-bg" style="background-image: url(assets/images/parallax1.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="title1-wrapper text-center">
                        <div class="title1-inner">
                            <span>Website for Restaurant and Cafe</span>
                            <h2 class="text-white" itemprop="headline">easy order in 3 steps</h2>
                        </div>
                    </div>
                    <div class="remove-ext text-center">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="step-box wow fadeIn" data-wow-delay="0.2s">
                                    <i><img src="assets/images/setp-img1.png" alt="setp-img1.png" itemprop="image"> <span class="brd-rd50 red-bg">1</span></i>
                                    <div class="setp-box-inner">
                                        <h4 itemprop="headline">Explore Restaurants</h4>
                                        <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                </div><!-- Step Box -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="step-box wow fadeIn" data-wow-delay="0.4s">
                                    <i><img src="assets/images/setp-img2.png" alt="setp-img2.png" itemprop="image"> <span class="brd-rd50 red-bg">2</span></i>
                                    <div class="setp-box-inner">
                                        <h4 itemprop="headline">Choose a Tasty Dish</h4>
                                        <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                </div><!-- Step Box -->
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="step-box wow fadeIn" data-wow-delay="0.6s">
                                    <i><img src="assets/images/setp-img3.png" alt="setp-img3.png" itemprop="image"> <span class="brd-rd50 red-bg">3</span></i>
                                    <div class="setp-box-inner">
                                        <h4 itemprop="headline">Follow The Status</h4>
                                        <p itemprop="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                </div><!-- Step Box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block no-padding red-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="app-sec">
                        <div class="row">
                            <div class="col-md-5 col-sm-6  col-lg-4">
                                <div class="app-mockup text-right overlape-110 wow fadeInUp" data-wow-delay="0.2s"><img src="assets/images/app-mockup.png" alt="app-mockup.png" itemprop="image"></div>
                            </div>
                            <div class="col-md-7 col-sm-6 col-lg-6">
                                <div class="app-info">
                                    <h4 itemprop="headline">The Best Food Delivery App</h4>
                                    <p itemprop="description">We have a launch team that focuses on one city at a time. At the end of the day, we're a marketplace. In order to make an effective marketplace, you need critical mass. We need enough restaurants that  quality and variety</p>
                                    <div class="app-download-btns">
                                        <a class="" href="#" title="Google Play Store" itemprop="url" target="_blank"><img src="assets/images/app-download-btn1.png" alt="app-download-btn1.png" itemprop="image"></a>
                                        <a class="" href="#" title="Apple App Store" itemprop="url" target="_blank"><img src="assets/images/app-download-btn2.png" alt="app-download-btn2.png" itemprop="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- App Section -->
                </div>
            </div>
        </div>
    </div>
</section>